.ActionBar {
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
}

.ActionBar > .Action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ActionBar  button{
  border: none;
  background-color: rgb(212, 211, 211); ;
}
